<div class="login-container">
  <h2>Admin Bejelentkezés</h2>
  <form id="login-form">
    <label>Felhasználónév:</label>
    <input
      placeholder="admin"
      type="text"
      name="username"
      id="username"
      required
    />
    <label>Jelszó:</label>
    <input
      placeholder="admin"
      type="password"
      name="password"
      id="password"
      required
    />
    <button type="submit">Belépés</button>
    <button class="admin-btn">Admin User</button>
  </form>
  <div class="error" id="error"></div>
</div>
