<main>
  <div class="outer-post-container">
    <a href="/create">➕ Új poszt</a>
    <div class="dashboard-post-container" style="flex-direction: column">
      <div class="table-container">
        <table id="posts-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Cím</th>
              <th>Kategória</th>
              <th>Művelet</th>
            </tr>
          </thead>
          <tbody>
            <!-- posts -->
          </tbody>
        </table>
      </div>
      <div id="pagination-container"></div>
    </div>
    <div class="select-container">
      <select name="category_id" id="category_id"></select>
    </div>
  </div>
  <p id="message"></p>
</main>
